<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible Questions | Admin Dashboard</title>
    <base href="/">

    <!-- Styles -->
    <link rel="stylesheet" href="styles/global.css">

    <!-- Local Scripts -->
    <script src="scripts/global.js" defer></script>

</head>
<body>
    <main>
        <h1>Dashboard</h1>
    </main>
</body>
</html>